/* This file is shared between the DotClear themes OUAIE and ANTHISNES -->*/
/* start reset */

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p,
a, img, sub, sup, ul, li,
figure, figcaption
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;	
}
body
{
	line-height: 1;
}
ul
{
	list-style: none;
}

/*end reset*/
body
{
	font-family: sans-serif;
	margin-bottom: 2cm;
}

h1 
{
	font-size: 200%;
	margin-left : 1cm;
}

h2 
{
	font-size: 141%;
	margin-left : 2cm;
}

h3 
{
	font-size: 120%;
	margin-left : 3cm;
}

h3 > span
{
	color : gray;
	font-size : 80%;
}
h4 
{
	margin-left : 4cm;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 1em;
}

div,
table
 {
	margin-left : 6cm;
}

table
{
	table-layout:auto;
	border-collapse: collapse;
}

th,
td
 {
  border: 1px solid;
  padding : 0.1cm;
}

th
{
	background-color: lightgray;
}

.private 
{
	display: none;
}

div.private 
{
	margin-left : 0;
}

div.public 
{
	margin-left : 0;
}
div.srcCode 
{
	margin-left : 1cm;
	font-family : monospace;
	overflow: clip;
}
