/* This file is shared between the DotClear themes OUAIE and ANTHISNES -->*/
/* start reset */

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p,
a, img, sub, sup, ul, li,
figure, figcaption
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;	
}
body
{
	line-height: 1.2;
}
ul
{
	list-style: none;
}

/*end reset*/

body
{
	font-family: sans-serif;
	margin-top: 2cm;
	margin-bottom: 2cm;
	width : 30cm;
	margin-left : auto;
	margin-right : auto;
}

nav
{
	position : absolute;
	top : 0;
	left : 0;
}

nav > div
{
	position : absolute;
	top : 0;
	margin-left : 0;
	padding: 0.5cm;
	color : white;
	height: 1.5cm;
	width: 3cm;
	text-align: center;
	border-style: solid;
	border-width: 0.5mm;
	cursor: pointer;
}

#sourcesNav 
{
	background-color : blue;
	border-color : blue;
	left : 1cm;
}

#variablesNav 
{
	background-color : green;
	border-color : green;
	left : 4cm;	
}

#classesNav
{
	background-color : red;
	border-color : red;
	left : 7cm;
}

#showPrivateNav
{
	color : black;
	left : 10cm;
	width: 2cm;
	display: none;
}

body.havePrivateButton #showPrivateNav {
	display: inherit;
}

#showPrivateNav::before {
	content : "✔️"
}

body.showPrivate #showPrivateNav::before {
	content : "❌"
}

nav > div ~ ul 
{
	position : absolute;
	top : 1.5cm;
	left : 1cm;
	width: 0;
	/*height: 0;*/
	transform : scale(0);
	transform-origin: top left;
}

nav > div ~ ul > li
{	
	display : inline;
	padding-right : 0.5cm;
}

nav > div#sourcesNav:hover ~ ul#sourcesNavList,
nav > div#variablesNav:hover ~ ul#variablesNavList,
nav > div#classesNav:hover ~ ul#classesNavList,
nav > div ~ ul:hover
{
	width: calc(100vw - 2cm);
	display : block;
	padding : 1cm;
	z-index : 100;
	background-color : lightgrey;
	border-bottom-style : solid;
	border-bottom-width : 0.1mm;
	transform : scale(1);
	transform-origin: top left;
	transition: transform 0.5s ease-out;
}

h1 
{
	font-size: 200%;
	margin-left : 1cm;
}
h1 > span
{
	font-size : 64%;
	color : gray;
}

h2 
{
	font-size: 141%;
	margin-left : 2cm;
}

h3 
{
	font-size: 120%;
	margin-left : 3cm;
}

h3 > span
{
	color : gray;
	font-size : 80%;
}
h4 
{
	margin-left : 4cm;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 1em;
}

div,
table
 {
	margin-left : 6cm;
}

table.params
{
	table-layout:auto;
	border-collapse: collapse;
}

table.params tr > th,
table.params tr > td
 {
  border: 1px solid;
  padding : 0.1cm;
}

table.params tr > th
{
	background-color: lightgray;
}

table.srcCode {
	font-family : monospace;
	margin-left : 0;
	border-style:solid;
	border-width: 0.5mm;
	width: 100%;
	padding: 0.5cm;
}

table.srcCode pre
{
	margin : 0;
	padding : 0;
	font-weight: bolder;
}

table.srcCode tr > td:first-child
{
	color : gray;
	text-align: right;
	padding-right: 1cm;
}

.codeComments,
.codeComments > .jsKeyword,
.codeComments > .classLink,
.codeComments > .variableLink
{
	color : green;
	font-weight: normal;
}
.jsKeyword {
	color : blue;
}

.classLink {
	color: red;
}

.variableLink
{
	color: darkred;
}
.hash,
.hash ~ td
{
	background-color : yellow;
}

.private 
{
	display: none;
}

body.showPrivate .private 
{
	display : inherit;
}

footer
{
	margin-top : 1cm;
	padding-top: 1cm;
	border-top-style : solid;
	border-top-width : 0.1mm;
	padding-bottom: 1cm;
	border-bottom-style : solid;
	border-bottom-width : 0.1mm;
}
